vsphere_user            = "youruserhere"
vsphere_password        = "yourpasswordhere"
vsphere_server          = "your.server.here"
vsphere_datastore_name  = "ADatastoreName"
vsphere_datacenter_name = "ADatacenterName"
vsphere_cluster_name    = "AClusterName"
vsphere_network_name    = "VM Network"
vsphere_folder_name     = "devops"
